body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}


/* 顶部栏css */

.topBar {
    width: 100%;
    height: 40px;
    background-color: #333;
}

.container {
    width: 1226px;
    margin: 0 auto;
    height: 100%;
}

.topBar .topBar-list {
    float: left;
}

.topBar .shop {
    width: 120px;
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #424242;
    margin-left: 22px;
}

.topBar .login {
    float: right;
}

.topBar a {
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
    line-height: 40px;
}

.topBar .shop a {
    display: inline-block;
    width: 120px;
    height: 40px;
}

.topBar a:hover {
    color: #fff;
}

.topBar span {
    margin: 0 .3em;
    color: #424242;
}


/* 导航栏css */

.header {
    height: 100px;
}

.header .site-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.header .site-logo a {
    display: inline-block;
    width: 56px;
    height: 56px;
}

.header .site-logo img {
    width: 56px;
    height: 56px;
}

.header .site-list {
    float: left;
    width: 850px;
}

.header .site-list>ul {
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

.header .site-list>ul>li {
    float: left;
}


/* .header .site-list .site-categroy a {
    padding: 0;
} */

.header .site-list .site-categroy {
    position: relative;
}

.header .site-list .site-categroy .categroy-list {
    width: 234px;
    height: 460px;
    background-color: rgba(105, 101, 101, 0.6);
    position: absolute;
    top: 88px;
    left: -92px;
    z-index: 2;
}

.categroy-list>ul {
    width: 234px;
    height: 420px;
    padding: 20px 0;
}

.categroy-list>ul>li {
    height: 42px;
}

.categroy-list>ul>li>a {
    position: relative;
    padding-left: 30px;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #fff;
}

.categroy-list>ul>li>a:hover {
    background-color: #ff6700;
}

.categroy-list>ul>li>a span {
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    top: 12px;
    right: 20px;
}

.header .site-list>ul>li>a {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}

.header .site-list>ul>li>a:hover {
    color: #ff6700;
}

.header .site-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.header .site-search form {
    width: 296px;
    height: 50px;
    position: relative;
}

.header .site-search form .search-text {
    /* 245px */
    float: left;
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
    margin-right: -1px;
}

.header .site-search form .search-btn {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
}

.header .site-search form .search-word {
    position: absolute;
    font-size: 12px;
    top: 14px;
    right: 65px;
}

.header .site-search form .search-word a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    background-color: #eee;
    color: #757575;
}

.header .site-search form .search-word a:hover {
    background-color: #ff6700;
    color: #fff;
}


/* 内容主页css */

.site-content .site-slider>a {
    display: block;
    width: 1226px;
    height: 460px;
}

.site-content .site-slider>a img {
    width: 1226px;
}

.site-content .site-slider {
    position: relative;
}

.site-content .site-slider>span {
    position: absolute;
    background: url(../images/sprites.png);
    width: 41px;
    height: 69px;
    cursor: pointer;
}

.site-content .site-slider .next {
    background-position: -82px 0;
    left: 234px;
    top: 181px;
}

.site-content .site-slider .next:hover {
    background-position: 0 0;
}

.site-content .site-slider .prev {
    background-position: -123px 0;
    right: 0;
    top: 181px;
}

.site-content .site-slider .prev:hover {
    background-position: -41px 0;
}

.site-content .site-slider .slider-item {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    /* background-color: red; */
}

.site-content .site-slider .slider-item a {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .4);
    border: 2px solid #fff;
    border-color: rgba(255, 255, 255, .3);
}

.site-content .site-slider .slider-item a:hover {
    background-color: #fff;
}


/* 向导 */

.content-sub {
    margin-top: 18px;
    overflow: hidden;
}

.site-content .content-sub .content-channel .channel-list {
    float: left;
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    font-size: 12px;
    text-align: center;
}

.site-content .content-sub .content-channel>ul>li {
    float: left;
    width: 33.3%;
    height: 85px;
}

.site-content .content-sub .content-channel>ul>li a {
    display: block;
    color: rgba(255, 255, 255, .7);
    padding-top: 18px;
}

.site-content .content-sub .content-channel>ul>li a i {
    display: block;
    font-size: 24px;
}

.site-content .content-sub .content-list {
    float: left;
    width: 992px;
}

.site-content .content-sub .content-list ul>li {
    float: left;
    width: 33.3%;
    text-align: right;
}

.site-content .content-sub .content-list ul>li a,
.site-content .content-sub .content-list ul>li img {
    width: 316px;
    height: 170px;
}

.site-content .content-banner {
    margin-top: 18px;
    margin-bottom: 30px;
}

.content-banner a {
    /* margin-top: 18px; */
    display: block;
    width: 1226px;
    height: 120px;
}

.content-banner a img {
    width: 1226px;
    height: 120px;
}


/* 内容详情CSS */


/* 标题 */

.content-desc {
    padding-top: 22px;
    background-color: #f5f5f5;
}

.content-desc .bx-hd {
    position: relative;
    height: 58px;
}

.content-desc .bx-hd h2 {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.content-desc .bx-hd .more {
    position: absolute;
    top: 0;
    right: 0;
}

.content-desc .bx-hd .more a {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
}

.content-desc .bx-hd .more a i {
    padding: 4px;
    margin-left: 8px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #b0b0b0;
    color: #fff;
    font-size: 12px;
    vertical-align: 2px;
}

.content-desc .bx-hd .more:hover a {
    color: #ff6700;
}

.content-desc .bx-hd .more:hover a i {
    background-color: #ff6700;
}


/* 内容 */

.content-desc .bx-bd .row-l {
    float: left;
    width: 234px;
    background-color: #fff;
}

.content-desc .bx-bd .row-l a {
    width: 100%;
    height: 100%;
    display: block;
}

.content-desc .bx-bd .row-l img {
    width: 234px;
    height: 614px;
}

.content-desc .bx-bd .row-r {
    float: left;
    width: 992px;
}

.content-desc .bx-bd .row-r ul {
    overflow: hidden;
}

.content-desc .bx-bd .row-r ul li {
    float: left;
    width: 234px;
    height: 260px;
    padding: 20px 0;
    background-color: #fff;
    position: relative;
    margin-left: 14px;
    margin-bottom: 14px;
}

.content-desc .bx-bd .row-r ul li .figure {
    width: 160px;
    height: 160px;
    margin: 0 auto 18px;
}

.content-desc .bx-bd .row-r ul li .figure a {
    display: block;
}

.content-desc .bx-bd .row-r ul li .figure a img {
    width: 160px;
    height: 160px;
}

.content-desc .bx-bd .row-r ul li .title {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.content-desc .bx-bd .row-r ul li .title a {
    color: #333;
}

.content-desc .bx-bd .row-r ul li .desc {
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    margin: 0 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-desc .bx-bd .row-r ul li .price {
    text-align: center;
    color: #ff6700;
}

.content-desc .bx-bd .row-r ul li .flag {
    position: absolute;
    top: 4px;
    left: 50%;
    width: 64px;
    height: 20px;
    background-color: #83c44e;
    text-align: center;
    color: #fff;
    margin-left: -32px;
}


/* 脚部CSS */

.footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer .footer-service ul li {
    float: left;
    height: 25px;
    width: 19.8%;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}

.footer .footer-service ul .first {
    border: none;
}

.footer .footer-service ul li a {
    color: #616161;
}

.footer .footer-service ul li .iconfont {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 6px;
}

.footer .footer-links {
    padding: 40px 0;
}

.footer .footer-links dl {
    float: left;
    width: 160px;
    height: 112px;
}

.footer .footer-links dl dt {
    margin-bottom: 26px;
    font-size: 14px;
    color: #424242;
}

.footer .footer-links dl dd {
    font-size: 12px;
    margin-top: 10px;
    color: #757575;
    cursor: pointer;
}

.footer .footer-links dl dd:hover {
    color: #ff6700;
}

.footer .footer-links .col-contact {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.footer .footer-links .col-contact .iphone {
    color: #ff6700;
    margin-bottom: 5px;
    font-size: 22px;
}

.footer .footer-links .col-contact p {
    font-size: 12px;
    margin-bottom: 16px;
}

.footer .footer-links .col-contact a {
    display: block;
    width: 118px;
    height: 28px;
    text-align: center;
    border: 1px solid #ff6700;
    margin: 5px auto;
    color: #ff6700;
    font-size: 12px;
}

.footer .footer-links .col-contact a:hover {
    background-color: #ff6700;
    color: #fff;
}

.footer .footer-links .col-contact .fork {
    font-size: 12px;
}

.footer .footer-links .col-contact .fork i {
    font-size: 25px;
    line-height: 25px;
    vertical-align: -4px;
}

.footer .footer-links .col-contact .fork i:hover {
    color: #ff6700;
}