body {
    font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    color: #333;
}


/* 顶部栏css */

.topBar {
    width: 100%;
    height: 40px;
    background-color: #333;
}

.container {
    width: 1226px;
    margin: 0 auto;
    height: 100%;
}

.topBar .topBar-list {
    float: left;
}

.topBar .shop {
    width: 120px;
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #424242;
    margin-left: 22px;
}

.topBar .login {
    float: right;
}

.topBar a {
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
    line-height: 40px;
}

.topBar .shop a {
    display: inline-block;
    width: 120px;
    height: 40px;
}

.topBar a:hover {
    color: #fff;
}

.topBar span {
    margin: 0 .5em;
    color: #424242;
}


/* 导航栏css */

.header {
    height: 100px;
}

.header .site-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.header .site-logo a {
    display: inline-block;
    width: 56px;
    height: 56px;
}

.header .site-logo img {
    width: 56px;
    height: 56px;
}

.header .site-list {
    float: left;
    width: 850px;
}

.header .site-list ul {
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}

.header .site-list ul li {
    float: left;
}


/* .header .site-list .site-categroy a {
    padding: 0;
} */

.header .site-list .site-categroy {
    position: relative;
}

.header .site-list .site-categroy .categroy-list {
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 88px;
    left: -92px;
}

.header .site-list ul li a {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}

.header .site-list ul li a:hover {
    color: #ff6700;
}

.header .site-search {
    float: right;
    width: 296px;
    margin-top: 25px;
}

.header .site-search form {
    width: 296px;
    height: 50px;
    position: relative;
}

.header .site-search form .search-text {
    /* 245px */
    float: left;
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
    margin-right: -1px;
}

.header .site-search form .search-btn {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #e0e0e0;
}

.header .site-search form .search-word {
    position: absolute;
    font-size: 12px;
    top: 14px;
    right: 65px;
}

.header .site-search form .search-word a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    background-color: #eee;
    color: #757575;
}

.header .site-search form .search-word a:hover {
    background-color: #ff6700;
    color: #fff;
}


/* 内容主页css */

.site-content .site-slider a {
    display: block;
    width: 1226px;
}

.site-content .site-slider a img {
    width: 1226px;
}