@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.woff2?t=1652015239822') format('woff2'), url('iconfont/iconfont.woff?t=1652015239822') format('woff'), url('iconfont/iconfont.ttf?t=1652015239822') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}